@tailwind base;
@tailwind components;
@tailwind utilities;

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

svg {
  z-index: 999;
}

@media (max-width: 768px) {
  svg {
    display: none;
  }
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}


.bx {
  font-size: 1.5rem;
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  transition: animation 0.3s;
}

.bx-sun:hover {
  animation: rotate 9s infinite linear;
}

.bx-moon:hover {
  animation: smoth .5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes smoth {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.light {
  color: whitesmoke;
}

.dark {
  color: black;
}